.card {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    transition: 0.2s;
    transform-style: preserve-3d;
    position: relative;
    cursor: pointer;
  
    img {
      width: 100%;
      height: 100%;
    }
  
    .card-face {
      backface-visibility: hidden;
      position: absolute;
      width: 100%;
      height: 100%;
      &.card-back-face {
        transform: rotateY(180deg);
      }
    }
  
    &.is-flipped {
      transform: rotateY(180deg);
    }
  
    &.is-inactive {
      visibility: hidden;
    }
  }
  