.App {
    position: absolute;
    width: 100%;
    height: 100%;
  
    header {
      position: relative;
      width: 100%;
      text-align: center;
  
      > div {
        font-size: 15px;
        width: 300px;
        text-align: center;
        margin: 0 auto;
      }
    }
  
    .container {
      padding: 10px;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(4, 1fr);
      justify-items: center;
      gap: 10px;
      margin: 0 auto;
      width: 600px;
      height: 384px;
    }
  }
  